name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create dir
        run: mkdir testArtifacts

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Newman
        run: |
          newman run serverest.postman_collection.json \
          -e ServeRest.postman_environment.json \
          -r cli,htmlextra


      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: testArtifacts
