name: Newman Run

on:
  push:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create dir
        run: mkdir testArtifacts

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Tests
        run: |
          newman run ServeRest.postman_collection.json \
            -e serveRest_env.postman_environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export testArtifacts/report.html

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: testArtifacts
